*{
    margin: 0;
}
.home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 500px;
    background-image: url('../asstes/payment.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.home > h1{
    font-size: 3rem;
    color:rgb(236, 105, 239);
    padding: 20px;
}
.home > p {
    font-size: large;
    width: 400px;
    height: 400px;
    margin-top: 280px;
    line-height: 30px;
    padding: 20px;
}